<% title "User Settings" %>

<h3 class="centered-text">Username: <%= @user.username %></h3>

<%= render 'account_balance' %>

<div class="centered-text">
	<%= button_to "Change Password", edit_password_path, method: :get %>

	<%= button_to "Delete Account", confirm_delete_user_path, method: :get %>
</div>
