/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *comment= require foundation_and_overrides
 *= require util
 */

@import 'util';
@import 'foundation_and_overrides';

$primary_hue: 140;
$primary_color: hsl($primary_hue, 45%, 50%);	/* emerald green */

header {
	padding: 20px;
	background-color: $primary_color;
	color: white;
	text-align: center;

	#title {
		font-size: 50px;
	}

	#user-dropdown-group {
		div {
			display: inline-block;
		}
	}

	#login-links {
		a {
			color: white;
			margin-left: 15px;
		}
	}
}

.open-dropdown-indicator {
	@include triangle(5px, white, 'down');
}

.centered-med-up {
	@media #{$medium-up} {
		display: flex;
		align-items: center;
	}
}

nav.top-bar:not(.expanded) {
	text-align: center;
	section.top-bar-section { 
		display: inline-block; 
	}
}

section#content {
	max-width: 1000px;
	padding: 25px;
	margin: 0 auto;
}

input[type="submit"] {
	@include button();
}