/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *comment= require foundation_and_overrides
 *comment= require util
 */

@import 'util';
@import 'foundation_and_overrides';


/* general styles */

* {
	box-sizing: border-box;
}

body {
	background-image: url("white_bg.jpg");
}

h1 {
	font-family: "Bowlby One SC";
}

header {
	padding: 20px;
	background-color: $main-color;
	color: white;
	text-align: center;

	#title {
		font-size: 50px;
	}

	#user-dropdown-group {
		div {
			display: inline-block;
		}
	}

	#login-links {
		a {
			color: white;
			margin-left: 15px;
		}
	}
}

.open-dropdown-indicator {
	@include triangle(5px, white, 'down');
}

.centered-med-up {
	@media #{$medium-up} {
		display: flex;
		align-items: center;
	}
}

.centered-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}

nav.top-bar:not(.expanded) {
	text-align: center;
	section.top-bar-section { 
		display: inline-block; 
	}
}

section#content {
	max-width: 1000px;
	padding: 25px;
	margin: 0 auto;

	#page_title, #balance {
		@extend .centered-text;
	}
}

input[type="submit"] {
	@include button();
}

.user-form {
	@extend .centered-block;
	max-width: 425px;
}

.alert-box {
	@extend .centered-text;
}



/* styles for welcome page */
#monster-pic {
	height: 400px;
}

#sign-up-button {
	width: 350px;
	font-family: "Bowlby One SC";
	font-size: 40px;
}