// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

#wager_fieldset {
	width: 275px;
	.wager {
		font-size: 20px;

		.columns {
			padding: 0;
		}
	}
}

.lines-table {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	font-size: 16px;

	@media #{$medium-up} {
		font-size: 23px;
	}

	.centered-col {
		text-align: center;
	}

	.lines_table_header.row {
		border-bottom: 10px solid black;
	}

	.row {
		// border-bottom: 1px solid black;
		
		.columns {
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
	}

	.match.row {
		border-top: 4px solid black;
		display: flex;
		align-items: stretch;

		.date-time {
			display: flex;
			align-items: center;
		}

		.home-team.row, .away-team.row {
			display: flex;
			align-items: stretch;

			.bet-input-cell {
				display: flex;
				justify-content: center;

				.switch {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}