// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'util';
@import 'foundation_and_overrides';

.highlight {
	color: $bright-accent-color;
}

#wager_fieldset {
	background-color: $light-main-color;
	width: 275px;
	.wager {
		font-size: 20px;

		.columns {
			padding: 0;
		}
	}
}

%bets-table-cell {
	border-top: 1px $dark-main-color solid;
	border-right: 1px $dark-main-color solid;
}

%bets-table {
	* {
		margin: 0 !important;
		padding: 0 !important;
	}

	.left-content {
		padding-left: 5px !important;
	}

	.columns { 
		@extend %bets-table-cell;
	}

	> .row {
		border-left: 1px $dark-main-color solid;
	}

	> .row:last-child {
		border-bottom: 1px $dark-main-color solid;
	}

	font-size: 16px;

	.match.row:nth-child(even) {
		background-color: $very-light-main-color;
	}
	.match.row:nth-child(odd) {
		background-color: $light-main-color;
	}

}

%bets_table_header_row {
	background-color: $accent-color;
}

%bets-table-col {
}


.pending-bets-table {
	@extend %bets-table;
	
	@media #{$medium-up} {
		font-size: 23px;
	}
	
	.pending-bets-table-header {
		@extend %bets_table_header_row;
	}

	.row {
		.columns {
			@extend %bets-table-col !optional;
		}
	}

}


.lines-table {
	@extend %bets-table;

	@media #{$medium-up} {
		font-size: 23px;
	}


	.centered-col {
		text-align: center;
	}

	.lines_table_header.row {
		@extend %bets_table_header_row;
	}

	.row {
		.columns {
			@extend %bets-table-col !optional;
		}
	}

	// All the flex-box stuff is for centering things
	.match.row {
		display: flex;
		align-items: stretch;

		.date-time {
			display: flex;
			align-items: center;
		}

		.home-team.row {
			background-color: $very-light-main-color;
		}
		.away-team.row {
			background-color: $light-main-color;
		}

		.home-team.row, .away-team.row {
			display: flex;
			align-items: stretch;

			.bet-input-cell {
				display: flex;
				justify-content: center;

				.switch {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}