$main-hue: 140;
$main-color: hsl($main-hue, 45%, 50%);	/* emerald green */
$dark-main-color: darken($main-color, 30%);
$very-dark-main-color: darken($main-color, 35%);
$light-main-color: lighten($main-color, 20%);
$very-light-main-color: lighten($main-color, 40%);

$accent-color: #FFAA34;	/* orange */
$bright-accent-color: saturate($accent-color, 100%);
$dark-accent-color: darken($accent-color, 20%);
$light-accent-color: lighten($accent-color, 20%);

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


@mixin triangle($size, $color, $direction: 'up') {
	width: 0;
	height: 0;

	@if $direction == 'up' { 
		border-right: $size solid transparent;
		border-bottom: $size * 1.732 solid $color; 
		border-left: $size solid transparent; 
	} @else if $direction == 'down' {
		border-top: $size * 1.732 solid $color; 
		border-right: $size solid transparent; 
		border-left: $size solid transparent; 
	} @else if $direction == 'left' {
		border-top: $size solid transparent; 
		border-right: $size * 1.732 solid $color; 
		border-bottom: $size solid transparent; 
	} @else if $direction == 'right' {
		border-top: $size solid transparent; 
		border-bottom: $size solid transparent; 
		border-left: $size * 1.732 solid $color; 
	}
}